<div class="row main-row">
  <div class="col-1"></div>
  <div class="col-10 main-detail-div">
    <div class="row">
      <div class="main-title">
        <h3>Student Manegement System</h3>
      </div>
    </div>
    <div class="row create-new-student-row">
      <button type="button" class="btn btn-primary" (click)="openAddEditStudentPopup()">+ Add new student</button>
    </div>
    <div class="row table-main-row">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Index No</th>
          <th scope="col">Name</th>
          <th scope="col">DoB</th>
          <th scope="col">GPA</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          @for (student of students; track student.id; let i = $index) {
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td> {{ student.id }}</td>
              <td> {{ student.index }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.dob }}</td>
              <td>{{ student.gpa }}</td>
              <td>
                <button type="button" class="btn btn-success">Edit</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-1"></div>
</div>
